:root{
  --text-color: black;
  --fundal: #f6f6f6;
  --btn-col: #ffa31a;
  --toggle: rgba(0, 0, 0, 0.071);
  --set-box-col: white;
  --set-box-text: black;
  --profile-info-h2: #4e1616;
  --border-profile-info: linear-gradient(to right, #e9c557, rgba(207, 121, 15, 0.825));
  --profile-info-p: #070707;
  --presentation-section: linear-gradient(to right, rgba(255, 85, 0, 0.893) , rgba(255, 179, 0, 0.904));
  --header: coral;
  --footer: coral;
  --footer-h: midnightblue;
  --hover: white;
  --btn-txt: cornsilk;
  --stitle: black;
  --btn-hov: aliceblue;
  --help-card: white;
  --descr: black;
  --help-card-hov: ghostwhite;
  --set-title: black;


}


.dark-theme{
  --fundal:  #333;
  --text-color: #f6f6f6; 
  --btn-col: #383737;
  /* --btn-col: red; */
  --toggle: #383737;
  --set-box-col: #0c372d;
  --set-box-text: white;
  --profile-info-h2: rgb(255, 102, 0);
  --border-profile-info: rgb(255, 102, 0);
  --profile-info-p: white;
  --presentation-section: linear-gradient(to bottom, #003629, #001c15);
  --header: #003629;
  --footer: #003629;
  --footer-h: rgb(27, 174, 27);
  --hover: rgb(59, 207, 193);
  --descr: white;
  --btn-txt: rgb(15, 15, 15);
  --btn-hov: #29e4dbd5;
  --stitle: white;
  --help-card: #555;
  --help-card-hov: grey;
  --set-title: white;

  
    
}


body {
  background-color: var(--fundal);
}




* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.logo{
    margin-top: 15px;
    width: 100px;
    margin-left: 15px;
}

.logo img{
    width: 70px;
    height: 60px;
}

.header{
    /* background-color: coral; */
    background-color: var(--header);
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-bar{
    /*padding:30px;*/
    position: absolute;
    right: 20px;
    justify-content: space-between;
    top: 50px;
    list-style-type: none;
}

.nav-bar a{
    /* color: black; */
    color: var(--text-color);
}

.nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar ul li{
    font-size: 20px;
    display:inline;
}

.nav-bar a:link{
    text-decoration: none;
    /* color: black; */
    color: var(--text-color);
    padding: 15px;
}


.nav-bar li a:hover{
  /* color: white; */
  color: var(--hover);
}

.burger-button img{
    height: 40px;
    float: right;
    line-height: 80px;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-right: 5px;
    cursor: pointer;
    display: none;
    
    /*margin-right: 40px;*/
    
  }
  
  label {
    position: absolute;
    top: 0px;
    right: 5px;
  }
  
  #check{
    display: none;
  }
  
  @media (max-width: 952px){
    .header .logo img
    /*.logo .logo-text*/{
      /*padding-left: 50px;*/
      width: 50px;
    }
    
    .logo .logo-text{
      margin-bottom: 1px;
    }
  
    .header ul li a{
      font-size: 20px;
    }
  }
  
  @media (max-width: 858px){
    .nav-bar img{
      display: block;
      
    }
  
    .header .nav-bar ul{
      position: fixed;
      width: 100%;
      height: 100%;
      margin-top: 50px;
      /* background: coral; */
      background: var(--header);
      left: 100%;
      text-align: center;
      transition: all .5s;
    }
    
  
    .header ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
  
    .header ul li a{
      font-size: 20px;
    }
    
    a:hover{
      background: none;
      /* color: black; */
      color: var(--text-color);
      
    }

    
    
    #check:checked ~ ul{

      /* background: coral; */
      background-color: var(--header);
      left: 0;
      z-index: 9999;

    }
    
    body.disable-scroll{
      overflow: hidden;
    }
    
  }

  .footer_section{
    /*margin-left:70px;
    margin-right:70px;*/
    padding-top:50px;
    padding-left:20px;
    padding-right:80px;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items:flex-start;
    /* background-color: coral; */
    background-color: var(--footer);
    margin-top: 25px;
  }
  
  .footer_section ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  
  .footer_section a:link{
  text-decoration: none;
  /* color: black; */
  color: var(--text-color);
  /*font-weight:500;*/
  }
  
  .footer_section a:visited {
    /* color: black; */
    color: var(--text-color);
  }
  
  .footer_section li a:hover{
    /* color: white; */
    color: var(--hover);
    transition: .5s;
  }
  
  .footer_section li{
    padding-bottom:10px;
    padding-left:70px;
    padding-right:70px;
    font-family:sans-serif;
    font-size:15px;
    /* color: black; */
    color: var(--text-color);
  }
  
  .footer_section h4{
    font-size:16px;
    font-family:sans-serif;
    /* color:midnightblue; */
    color: var(--footer-h);
    padding-left:70px;
  }
  
  .footer_section button{
    /* background-color: midnightblue; */
    background-color: var(--footer-h);
    border: none;
    /* color: cornsilk; */
    color: var(--btn-txt);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 1;
  }
  
  .footer_section button:hover{
    /* background-color: aliceblue; */
    background-color: var(--btn-hov);
    transition: .5s;
    color: midnightblue;
  }
  
  .footer_section .section_4 h4{
    padding-left:0;
   
  }
  
  .footer_section .section_4 p{
    /* color: black; */
    color: var(--text-color);
    font-family:sans-serif;
    font-size:15px;
  }

  @media screen and (max-width: 880px) {
    .footer_section {
     flex-direction: column; 
    }
  }

.set-title {
    width: 100%;
}

.set-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    color: var(--set-title);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.help-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.help-card {
    /* background: white; */
    background: var(--help-card);
    width: 350px;
    height: 350px;
    border: 1.65px solid grey;
    margin: 10px;
    border-radius: 15px;
}

.card-image {
    /*background-color: aqua;*/
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.img-1 {
    background-image: url('../images/person.png');
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.img-2 {
    background-image: url('../images/settings.png');
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.img-3 {
    background-image: url('../images/contact.png');
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.img-4 {
    background-image: url('../images/lock.png');
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.help-card p {
    padding: 10px;
}


.help-card:hover {
    /* background-color: ghostwhite; */
    background-color: var(--help-card-hov);
    color: black;
    cursor: pointer;
    border: 1.65px solid coral;
    transform: scale(1.03);
    transition: 0.5s;
}

.help-card h2, p {
    text-align: center;
}

div.stitle h4{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--stitle);
    
}

.stitle {
    position: relative;
}

#a1,
#a2,
#a3,
#a4 {
    color: black;
    text-decoration: none;
}

.stitle::after {
  content: "";
  display: block;
  width: 60px;
  border-bottom: 2px solid gray;
  margin: auto;
  top: 7px;
}

div.descr p{
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: var(--descr);
}
