
* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


body {
  background-color: var(--bkr);
}


.logo{
    margin-top: 15px;
    width: 100px;
    margin-left: 15px;
}

.logo img{
    width: 70px;
    height: 60px;
}

.header{

    /* background-color: coral; */
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--nav-bar);


}

.nav-bar{
    /*padding:30px;*/
    position: absolute;
    right: 20px;
    justify-content: space-between;
    top: 50px;
    list-style-type: none;
}

.nav-bar a{

    /* color: black; */
    color: var(--nav-bar-a);

}

.nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* color: var(--nav-bar-a); */
}

.nav-bar ul li{
    font-size: 20px;
    display:inline;
}

.nav-bar a:link{

    text-decoration: none;
    /* color: black; */
    padding: 15px;
    color: var(--nav-bar-a);

}


.nav-bar li a:hover{
  color: white;
}

.burger-button img{
    height: 40px;
    float: right;
    line-height: 80px;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-right: 5px;
    cursor: pointer;
    display: none;
    
    /*margin-right: 40px;*/
    
  }
  
  label {
    position: absolute;
    top: 0px;
    right: 5px;
  }
  
  #check{
    display: none;
  }
  
  @media (max-width: 952px){
    .header .logo img
    /*.logo .logo-text*/{
      /*padding-left: 50px;*/
      width: 50px;
    }
    
    .logo .logo-text{
      margin-bottom: 1px;
    }
  
    .header ul li a{
      font-size: 20px;
    }
  }
  
  @media (max-width: 858px){
    .nav-bar img{
      display: block;
      
    }
  
    .header .nav-bar ul{
      position: fixed;
      width: 100%;
      height: 100%;
      margin-top: 50px;
      background: coral;
      left: 100%;
      text-align: center;
      transition: all .5s;
    }
    
  
    .header ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
  
    .header ul li a{
      font-size: 20px;
    }
    
    a:hover{
      background: none;
      color: black;
      
    }
    
    #check:checked ~ ul{

      /* background: coral; */
      background-color: var(--header);
      left: 0;
      z-index: 9999;

    }
    
    body.disable-scroll{
      overflow: hidden;
    }
    
  }

  .footer_section{

    /*margin-left:70px;
    margin-right:70px;*/
    padding-top:50px;
    padding-left:20px;
    padding-right:80px;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items:flex-start;
    /* background-color: coral; */
    background-color: var(--footer);
    margin-top: 25px;

  }
  
  .footer_section ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  
  .footer_section a:link{

  text-decoration: none;
  /* color: black; */
  /*font-weight:500;*/
    color: var(--text-color);

  }
  
  .footer_section a:visited {

    /* color: black; */
    color: var(--text-color);

  }
  
  .footer_section li a:hover{

    /* color: white; */
    color: var(--hover);
    transition: .5s;

  }

  .header li a:hover{

    /* color: white; */
    color: var(--hover);
    transition: .5s;

  }
  
  .footer_section li{

    padding-bottom:10px;
    padding-left:70px;
    padding-right:70px;
    font-family:sans-serif;
    font-size:15px;
    /* color: black; */
    color: var(--text-color);

  }
  
  .footer_section h4{

    font-size:16px;
    font-family:sans-serif;
    /* color:midnightblue; */
    color: var(--footer-h);
    padding-left:70px;

  }
  
  .footer_section button{

    /* background-color: midnightblue; */
    background-color: var(--footer-h);
    border: none;
    /* color: cornsilk; */
    color: var(--btn-txt);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 1;

  }
  
  .footer_section button:hover{

    /* background-color: aliceblue; */
    background-color: var(--btn-hov);
    transition: .5s;
    /* color: midnightblue; */
    color: var(--footer-h);

  }
  
  .footer_section .section_4 h4{
    padding-left:0;
   
  }
  
  .footer_section .section_4 p{
    color: black;
    font-family:sans-serif;
    font-size:15px;
  }

  @media screen and (max-width: 880px) {
    .footer_section {
     flex-direction: column; 
    }
  }

.set-title {
    width: 100%;
}

.set-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    color: var(--set-title);
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  
  .flex-item {
    flex: 1 0 auto;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .flex-item img {
    max-width: 100%;
    height: auto;
    width: 100%;
  }
  
  /* Media queries for different screen sizes */
  @media only screen and (min-width: 768px) {
    .flex-item {
      width: 50%;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .flex-item {
      width: 33.33%;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .flex-item {
      width: 25%;
    }
  }

  
  :root{
    --text-color: black;
    --fundal: #f6f6f6;
    --btn-col: #ffa31a;
    --toggle: rgba(0, 0, 0, 0.071);
    --set-box-col: white;
    --set-box-text: black;
    --nav-bar: coral;
    --profile-info-h2: #4e1616;
    --border-profile-info: linear-gradient(to right, #e9c557, rgba(207, 121, 15, 0.825));
    --profile-info-p: #070707;
    --presentation-section: linear-gradient(to right, rgba(255, 85, 0, 0.893) , rgba(255, 179, 0, 0.904));
    --header: coral;
    --set-title: black;
    --footer: coral;
    --bkr: #f6f6f6;
    --footer-h: midnightblue;
    --nav-bar-a: black;
    --hover: white;
    --btn-txt: cornsilk;
    --stitle: black;
    --btn-hov: aliceblue;
    --help-card: white;
    --descr: black;
    --help-card-hov: ghostwhite;
    --set-titlle: black;
  
  
  }
  
  
  .dark-theme{
    --fundal:  #333;
    --text-color: #f6f6f6; 
    --btn-col: #383737;
    /* --btn-col: red; */
    --toggle: #383737;
    --set-box-col: #0c372d;
    --set-box-text: white;
    --profile-info-h2: rgb(255, 102, 0);
    --border-profile-info: rgb(255, 102, 0);
    --profile-info-p: white;
    --bkr: #333;
    --set-title: white;
    --presentation-section: linear-gradient(to bottom, #003629, #001c15);
    --header: #003629;
    --nav-bar-a: white;
    --footer: #003629;
    --footer-h: rgb(27, 174, 27);
    --hover: rgb(59, 207, 193);
    --descr: white;
    --btn-txt: rgb(15, 15, 15);
    --btn-hov: #29e4dbd5;
    --nav-bar: #003629;
    --stitle: white;
    --help-card: #555;
    --help-card-hov: grey;
    --set-titlle: white;
  
    
      
  }
  
  
  
  
  