body{
    background: linear-gradient(to right, #ff0000, #ffa500, #ffffff);
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 90vh;
    font-family: Arial, Roboto;
}

.signup-page{
    padding: 4rem;
    width: 300px;
    border-radius: 15px;
    background: white;
    position: relative;
    margin-top: 15px;
}

.signup-page::before{
    content:'';
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    inset: 0;
    transform: rotate(-6deg);
    z-index: -1;
    border-radius: 15px;
}

.signup-header{
    text-align: center;
    margin: 2rem;
}


.signup-header h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.signup-header h1 + div {
    font-size: calc(1rem * 0.8);
    opacity: 0.8;
}

.signup-page-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.signup-page input[type = "text"],
.signup-page input[type = "password"]{
    border: 1px #c0c0c0 solid;
    outline: none;
    background: #c0c0c0;
    padding: 20px;
    padding-left: 10px;
    border-radius: 20px;
    width: 93%;
    transition: 0.15s;
    opacity: 1;
    font-size: 13px;
}

.signup-page input[type = "text"]:hover,
.signup-page input[type = "password"]:hover{
    opacity: 0.6;
}

.signup-page input[placeholder = "Enter name"],
.signup-page input[placeholder = "Enter password"],
.signup-page input[placeholder = "Enter email"],
.signup-page input[placeholder = "Confirm password"]{
    color: #36454f;
}

.name,
.email,
.dob,
.password{
    color: #4c1111;
    font: italic small-caps bold 12px/30px Georgia, serif;
}

.signin-message{
    color: #4c1111;
}

.signup-button{
    border: 1px black solid;
    outline: none;
    background: black;
    color: white;
    padding: 20px;
    padding-left: 10px;
    border-radius: 20px;
    width: 104%;
    transition: 0.15s;
    opacity: 1;
    font-size: 18px;
    cursor: pointer;
}

.signup-button:hover{
    opacity: 0.7;
}

.signup-button:active{
    background-color: white;
    color: black;
}

.signin-message a{
    text-decoration: none;
    cursor: pointer;
    color: #4c1111;
    opacity: 1;
}

.signin-message a:hover{
    opacity: 0.7;
}

@media (max-width: 768px){
    body{
        padding: 2rem 0;
    }

    .login-page{
        width: 300px;
        padding: 2rem;
    }
}

