:root{
    --text-fundal: #003629;
    --fundal: linear-gradient(to right, rgb(255, 183, 0) , rgb(255, 106, 0));
  }
  
  
  .dark-theme{
    --fundal:  linear-gradient(to bottom, #003629, #001c15);
    --text-fundal: #f6f6f6; 
  }




*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    box-sizing: border-box;
}

h1{
    margin:40px;
    margin-top:140px;
    
    text-align: center;
    color:white;
    font-weight: 600;
    font-size: 70px;
}
h2{
    margin:40px;
    margin-top:50px;
    
    text-align: center;
    color:white;
    font-weight: 600;
    font-size: 70px;
}


body{
  background-image: var(--fundal);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
}

.elements{
    display: flex;
    justify-content: space-between;
    flex-direction: row ;
    margin:10px;
    
}
.book-form{
    margin-right:30vw;
    margin-left: 30vw;
    margin-bottom: 20px;
    width: 40vw;
  }

.book-form .bf-all h1{
    margin: 0;
    font-size: 40px;
    color:white;
    text-align: center;
    font-family: 'Baloo 2', cursive;
}
.book-form .bf-all p{
    color:white;
}

.bf-head{
    background-color: #003629;
    border-radius: 20px;
}




.bf-all{
    margin: 20px;
    width: 50px;
    background-color: #045e49;
    border-radius: 20px;
    width:100%;
    height: 100%;

}
input,textarea,select{
    width: 100%;
    background-color: aquamarine;
    border: none;
    outline: none;
    padding: 10px;
}
.column{
    width: 48%;

}

.column-2{
    width: 100%;

}

.column-3{
    width: 30%;
   color:wheat;
}


.line{
    display: flex;
    justify-content: space-between;
    padding:5px 0;
}

.bf-body{
    padding: 20px;
}

.send{
    background-color: #bd271a;
    border-radius: 30px;
}


.send:hover {
    transform: scale(1.1);
  }
  


  .round-rect-box {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    border-radius: 20px;
    border: 2px solid rgba(219, 194, 147, 0.834);
    padding: 3vw;
    min-width: 30vw;
    width: auto;
    height: auto;
    max-height: 700px;
    box-shadow: 5px 5px 10px #888888;
    margin:40px;
}

.round-rect-box p {
    margin: 2vw 0;
    font-size: 2vw;
    line-height: 1;
}

.round-rect-box p strong {
    font-weight: bold;
    color: #bd271a;
}


.zoo{
    margin-top:10px;
    width:100%;
}

.hline {
    display: inline-block;
    width: 300px;
    height: 3px;
    background-color: black;
    margin: 0 10px;
  }

  @media screen and (max-width:1090px){
    .hline{
        width: 150px;
       
    }

    h1{
        font-size: 50px;
    }
  }

  @media screen and (max-width:800px){
    .round-rect-box{
        width: 40vw;
       
    }
    .zoo{
        width:50vw;
    }
    .hline{
        width:100px
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size:40px;
    }
  }



  @media screen and (max-width:500px){
    .elements{
        flex-direction: column;
    }
    .round-rect-box p{
        font-size: 5vw;
    }
    .round-rect-box{
        margin-left:25vw;
        margin-right:25vw;
        align-self: center;
        width: 50vw;
        height:60vw;
       
    }
    .zoo{
        margin-left:12vw;
        margin-right:12vw;
        width:70vw;
    }
    .hline{
        width:50px
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size:40px;
    }

    .book-form .bf-all h1{
        font-size: 20px;
    }
  }

