:root{
    --text-fundal: #003629;
    --fundal: linear-gradient(rgb(255, 187, 51), rgb(255, 102, 0));
    --btn-col: #ffa31a;
    --toggle: rgba(0, 0, 0, 0.071);
    --set-box-col: white;
    --set-box-text: black;
    --profile-info-h2: #4e1616;
    --border-profile-info: linear-gradient(to right, #e9c557, rgba(207, 121, 15, 0.825));
    --profile-info-p: #070707;
    --fav:linear-gradient(to right, #06712e, #19b359);
    --modal: #0c0303ee;
    --modal-content:linear-gradient(to bottom, #ff6a00, #ee0979);
    --modal-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  
  .dark-theme{
    --fundal:  linear-gradient(to bottom, #003629, #001c15);
    --text-fundal: #f6f6f6; 
    --btn-col: #383737;
    /* --btn-col: red; */
    --toggle: #383737;
    --set-box-col: #0c372d;
    --set-box-text: white;
    --profile-info-h2: rgb(255, 102, 0);
    --border-profile-info: rgb(255, 102, 0);
    --profile-info-p: white;
    --fav:linear-gradient(to right, rgb(255, 102, 0), #c88220);
    --modal: #d7aaaa;
    --modal-content: linear-gradient(to right, #1a237e, #4a148c);
    --modal-shadow:0px 0px 10px rgba(0, 0, 0, 0.3);

      
  }



body,
html {
    margin: 0;
    /*background-image: url(../images/gradient.jpg);*/
    background: var(--fundal);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
    user-select: none;
    /* width: 100%;
    height: 100%; */

}

/*  
.dark-theme {
    background: black;
}

 */

.set-box {
    margin-bottom: 10px;
    margin-top: 150px;
    box-sizing: border-box;
    background-color: white;
    padding: 10px 50px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(200, 200, 200);
    width: 450px;
    flex-direction: column;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50vw;
    margin-left: 25vw;
    margin-right: 25vw;
}

/* .set-box > div:first-child {
    margin-top: -10px;
  } */

.h1 {
    font-family: "Roboto-Slab";
    font-weight: 600;
}

.span {
    font-weight: 500;
    font-family: "Poppins";

}

.dark-mode-text {
    font-size: 1.5rem;
}

.toggle-container {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 35px;
    margin-left: auto;
}

.toggle {
    width: 60px;
    height: 35px;
    border-radius: 40px;
    /* background-color: rgba(0, 0, 0, 0.071); */
    background-color: var(--toggle);
    display: inline-block;
}

.toggle-c {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #ffa31a;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 5px;
    transition: 300ms all;
    border: 1px solid #bcbca4;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + div .toggle-c {
    left: 30px;
    background-color: #ca7a44cf;
    border-color: #c46924;
}

input[type="checkbox"]:checked + div .toggle {
    left: 30px;
    background-color: black;
    border-color: #c46924;
}

/* .dark-mode .set-box {
    background-color: #383737;
    color: white;
} */

.set-box {

    background-color: var(--set-box-col);
    color: var(--set-box-text);

}


.profile-info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-info h2 {
    color: var(--profile-info-h2);
    font-family: "Roboto", sans-serif;
    width: 80%;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1px;
    padding-top: 10px;
    margin-left: 2px;

}

/* .dark-mode .profile-info h2 {
    color: #ffa31a;


} */

.profile-info p {
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, rgb(255, 102, 0), rgb(255, 102, 0)) 10%;
    border-top: 0;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    padding: 7px 0;
    /* color: #070707; */
    color: var(--profile-info-p);
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
}

/* .dark-mode .profile-info p {
    color: white;
}

.dark-mode .btn {
    background-color: #383737;
} */







.btn {
    float: right;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    border: none;
    color: var(--btn-col);
}

.btn:hover {
    text-decoration: underline;
    font-weight: 900;
    cursor: pointer;
}

@media screen and (max-width: 986px) {
    .set-box {
        margin-top: 50px;
    }

}


@media screen and (max-width: 700px) {
    .set-box {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.popup h3 {
    margin-top: 0;
}

.popup input[type="text"],
.popup input[type="email"] {
    display: block;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}

.popup button {
    padding: 10px 20px;
}


.modal {
     display: none; 
     position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    overflow: auto;
    display: flex;
  justify-content: center;
   align-items: center;
      background-color: rgba(0, 0, 0, 0.4);  
  }
  
  .modal-content {
    background-color: var(--modal);
    margin: 15% auto;
    padding-right: 20px;
    border: 1px solid #888;
    width: 240px;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 10px;
    background: var(--modal-content);
    box-shadow:var(--modal-shadow);
    
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #viewFavoritesBtn {
    background:var(--fav); 
    color: #fff; 
    border: none; 
    border-radius: 4px; 
    padding: 12px 24px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: transform 0.3s ease; 
  }
  #favoritesList{
    font-size: 20px;
  }
  
  #favoritesModal{
    width:100vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #viewFavoritesBtn:hover {
    transform: translateY(-2px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .modal-title{

    text-align: center;
  }


  .animal-link:hover {
    color: #fdfdfd; 
    text-decoration: underline;
  }
  
  .animal-icon {
    margin-right: 10px; 
    font-size: 20px; 
  }
 
.animal-item {
    border: 1px solid;
    border-image: linear-gradient(to right, #ff6a00, #ee0979);
    border-image-slice: 1;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  
  .animal-link {
    margin-right: 10px;
    color: var(--modal);
    text-decoration: none;
  }
  

  .animal-icon {
    margin-right: 5px;
    color: #000;
  }
  
  