:root{
    --contact-back: wheat;
    --span: #003629;
    --contact-form-p: #03614b;
    --btn-color: #003629;
    --box: linear-gradient(to right, #FFA500, #FF4500);
    --box-text: black;
  
  
  }
  
  
  .dark-theme{
    --contact-back: linear-gradient(to bottom, #003629, #001c15);
    --span: rgb(27, 174, 27);
    --contact-form-p: rgb(27, 174, 27);
    --btn-color: rgb(31, 134, 31);
    --box: linear-gradient(to right, #333333, #222222);
    --box-text: white;
  
    
      
  }
  
 .success{
    color: var(--box-text);
}
.error
{
    color:red;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

section {
    padding: 40px 15%;
}

.contact {
    /* background:#014a39; */
    /* background: wheat; */
    background: var(--contact-back);
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 6rem;
}

.contact-img img {
    max-width: 100%;
    width: 720px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #573205de;
}

.contact-form h1 {
    font-size: 80px;
    color: #ffa31a;
    margin-bottom: 20px;

}

span {
    /* color: #003629; */
    color: var(--span);
}

.contact-form p {
    /* color: #03614b; */
    color: var(--contact-form-p);
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 3.8rem;

}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background: #191919;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;

}

.contact-form textarea {
    resize: none;
    height: 200px;
}

.contact-form form .btn {

    display: inline-block;
    /* background: #003629; */
    background-color: var(--btn-color);
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 220px;
    transition: ease 0.2s;
    cursor: pointer;

}

.contact-form form .btn:hover {
    border: 2px solid #003629;
    background: #03614b;
    transform: scale(1.1);

}

@media screen and (max-width:1570px) {
    section {
        padding: 80px 3%;
        transition: 0.2s;
    }

    .contact-form h1 {
        font-size: 60px;

    }

    .contact-form p {
        margin-bottom: 3rem;

    }

}

.round-rect-box {

    /* background-image: url(../images/gradient.jpg); */
    /* background: linear-gradient(to right, #FFA500, #FF4500); */
    background: var(--box);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    border: 2px solid rgba(219, 194, 147, 0.834);
    padding: 3vw;
    width: auto;
    height: auto;
    max-height: 500px;
    box-shadow: 5px 5px 10px #888888;

}

.round-rect-box p {
    margin: 2vw 0;
    font-size: 3vw;
    line-height: 1.5;
    color: var(--box-text);
}

.round-rect-box p strong {
    font-weight: bold;
    color: white;
}

.harta {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.harta iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media screen and (max-width:1090px) {
    .contact {
        grid-gap: 2rem;
        transition: 0.3s;

    }
}

@media screen and (max-width:1090px) {
    .contact {
        grid-template-columns: 1fr;

    }

    .contact-form {
        order: 2;

    }

    .round-rect-box {
        order: 3;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .harta {
        order: 4;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
 
    }

    .contact-img img {
        max-width: 100%;
        width: 100%;
        height: 600px;
        text-align: center;
        margin-bottom: 30px;
    }
}


